<!doctype html>
<html>
  <head>
    <title>Dune Folding</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/dune-folding.png"/>

    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-vue.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/dune-folding.css"/>

    <!-- Loaded scripts -->
    <script src="/js/vue.js"></script>
    <script src="/js/bootstrap-vue.min.js"></script>
    <script src="/js/bootstrap-vue-icons.min.js"></script>

    <script src="dune-folding-ui.js" defer></script>
  </head>
  <body class="bg-dark text-light pb-5">
    <div id="app">

      <!-- Navbar -->
      <b-navbar type="dark" variant="dark" sticky>
        <b-navbar-brand @click="route('')" href="#">
          <img src="/img/dune-folding.png" alt="dune-folding" width="40">
          Dune Folding
        </b-navbar-brand>
        <b-navbar-nav>
          <b-nav-item @click="route('register')" :active="currentPath=='register'">Register</b-nav-item>
          <b-nav-item @click="route('create')" :active="currentPath=='create'">New Team</b-nav-item>
        </b-navbar-nav>
      </b-navbar>

      <!-- Home -->
      <b-container v-if="currentPath==''" fluid>
        <section class="section-margin-small">
          <div class="text-center">
            <div class="display-3 my-3 mt-5">Dune Folding</div>
            <div class="display-4 my-3">Contribute spare CPU time for science,</div>
            <div class="display-4 my-3">Get rewarded in <a href="https://dune.network" target="_blank">$DUN</a>!</div>
          </div>
        </section>
        <section class="section-margin">
          <b-row>
            <b-col md="5" class="d-flex">
              <img src="/img/folding-at-home-logo.png" alt="folding-at-home" class="mx-auto d-block align-self-center mb-5" width="50%">
            </b-col>
            <b-col md="6" class="d-flex">
              <div class="h4 align-self-center text-center">
                <a href="https://foldingathome.org" target="_blank">Folding@home</a> is a distributed computing project for simulating protein dynamics. It brings together citizen scientists who volunteer to run simulations of protein dynamics on their personal computers. Insights from this data are helping scientists to better understand biology, and providing new opportunities for developing therapeutics.
              </div>
            </b-col>
          </b-row>
        </section>
        <section class="section-margin">
          <b-row>
            <b-col md="5" offset-md="1" order="2" order-md="1">
              <div class="h4 align-self-center text-center">
                <a href="https://dune.network" target="_blank">Dune Network</a> is a secured Web 3.0 platform designed for enterprise grade decentralized application. It is based on a proof of stake blockchain rewarding validators for their contribution.
              </div>
            </b-col>
            <b-col offset-md="1" md="5" class="d-flex" order="1" order-md="2">
              <img src="/img/logo-dune.svg" alt="dune-network" class="mx-auto d-block align-self-center mb-5" width="80%">
            </b-col>

          </b-row>
        </section>
        <section class="section-margin">
          <img src="/img/super-folder.png" alt="super-folder" class="mx-auto d-block" width="80%">
          <div class="text-center m-5">
            <b-button size="lg" variant="primary" @click="currentPath='register'">Register</b-button>
          </div>
        </section>
      </b-container>

      <!-- Register -->
      <b-container v-if="currentPath=='register'">
        <div class="h5 my-5 pt-3">
          <ul>
            <li class="py-3">
              To receive $DUN you first need to have a DUN address (wallet). If you don't have one yet, there is an extensive documentation to create one <a href="https://dune.network/docs/using-a-wallet.html" target="_blank">here</a>.
            </li>
            <li class="py-3">
              The second step is to <a href="/create" target="_blank">create</a> a team on <span class="font-italic">folding@home</span> with a name containing the first 8 characters of your DUN address.
            </li>
            <li class="py-3">
              Finally you just need to register these address and name in the form below
          </ul>
        </div>
        <b-form class="my-5">
          <b-form-group label="Dune Address *" label-for="pkh-input" invalid-feedback="Invalid pkh">
            <b-form-input v-model="pkh" pattern="(KT1|dn1|dn2|dn3)[A-Za-z0-9]{33}" required @input="registerError = undefined; registered = null">
          </b-form-group>
          <b-form-group label="Folding Name" label-for="folding-input" invalid-feedback="Invalid folding ID">
            <b-form-input v-model="folding_name" placeholder="optional if your team name is your dune address" @input="registerError = undefined; registered = null">
          </b-form-group>
          <b-form-group label="Folding ID" label-for="folding-input" invalid-feedback="Invalid folding ID">
            <b-form-input v-model="folding_id" placeholder="if your folding team is new" @input="registerError = undefined; registered = null">
          </b-form-group>
          <div class="text-center">
            <b-button variant="primary" @click="register()">
              Register
              <b-spinner variant="light" v-if="registering" small class="ml-2"></b-spinner>
            </b-button>
            <b-form-invalid-feedback :state="registerError == undefined" class="mt-2">
              {{ registerError ? registerError.content : '' }}
            </b-form-invalid-feedback>
            <b-form-valid-feedback :state="registered" class="mt-2">
              {{ pkh }} key registered for donor {{ folding_id }}
            </b-form-valid-feedback>
          </div>
        </b-form>

        <div class="mt-5 pt-5">
          You can check your donor info here:
        </div>
        <b-form class="my-5">
          <b-input-group prepend="Donor Info">
            <b-form-input v-model="donor_id"></b-form-input>
            <b-input-group-append>
              <b-button @click="get_info()">Get</b-button>
            </b-input-group-append>
          </b-input-group>
          <b-form-invalid-feedback :state="infoError == undefined" class="mt-2 text-center">
            {{ infoError ? infoError.content : '' }}
          </b-form-invalid-feedback>

          <div v-if="info!=undefined" class="my-5">
            <b-table-simple dark stacked>
              <b-tbody>
                <b-tr>
                  <b-th stacked-heading="Dune Address">{{ info.pkh }}</b-th>
                  <b-th stacked-heading="Team">{{ info.name }}</b-th>
                  <b-th stacked-heading="New Credits">{{ info.credit }}</b-th>
                  <b-th stacked-heading="Last Rewards">{{ info.tsp }}</b-th>
                </b-tr>
              </b-tbody>
            </b-table-simple>
          </div>
        </b-form>
      </b-container>

      <b-container v-else-if="currentPath=='create'">
        <b-embed type="iframe" src="https://apps.foldingathome.org/team">
        </b-embed>
      </b-container>

    </div>

    <footer class="text-center mt-5 pt-5">
      <a href="https://t.me/THEREALTWENTEMINING" target="_blank">
        <img src="/img/telegram-logo.svg" width="30px">
        <span class="h6 ml-2">Contact us on Telegram</span>
      </a>
    </footer>
  </body>
</html>
